.distinguish-panel {
  background-color: var(--distinguish-bg-panel-color);
  padding: 1rem;
  overflow-y: scroll;
}

.distinguish-panel-descriptors-list {
}
.distinguish-panel-eliminated {
}
.distinguish-panel-remaining {
}
.distinguish-descriptors-view {
}
