:root {
  // Colors
  --bg-color: #f7f8fc;
  --bg-panel-color: #FFFFFF;
  --bg-disabled-color: #e5e5e5;
  --disabled-color: #999;
  --error-color: #FF0000;
  --primary-color: #5D9ECE;
  --border-color: #CCCCCC;
  --link-color: #5D9ECE;

  // Sizes
  --btn-medium-size: 28px;
}
