:root {
  // Colors
  --distinguish-primary-content-color: #ffffff;
  --distinguish-bg-color: #f7f8fc;
  --distinguish-bg-panel-color: #ffffff;
  --distinguish-bg-modal-color: #ffffff;
  --distinguish-bg-disabled-color: #e5e5e5;
  --distinguish-disabled-color: #999;
  --distinguish-error-color: #ff0000;
  --distinguish-primary-color: #5d9ece;
  --distinguish-border-color: #cccccc;
  --distinguish-link-color: #5d9ece;

  // Sizes
  --distinguish-btn-medium-size: 28px;
}
